<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>